* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    font-size: 1.6rem;
    background: url(./assets/bg.jpeg) no-repeat center/cover;
    height: 100vh;
}

main {
    display: grid;
    place-content: center;
    gap: 2.4rem;
    padding: 6.4rem;
   
}

section {
    background: #6d67d0;
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
}

.search-city {
    background: none;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    margin-top: 50px;
}

.search-city input,.search-city button {
    padding: 20px;
    border: #6d67d0;
    border-radius: 8px;
    font-size: 20px;
}

.search-city input:focus {
    outline: none;
    border: none;
}

.search-city button {
    color: #6d67d0;
    background-color: #fff;
}

.search-city button:hover {
    cursor: pointer;
}
.temp-now {
    background-image: url(./assets/bg-temp-now.jpeg);
    position: relative;
    height: 300px;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.temp-now::before {
    content: '';
    width: 17.6rem;
    height: 17.6rem;
    background: url(./assets/clouds.svg) no-repeat;
    position: absolute;
    top: -5.6rem;
    left: -5.6rem;
}

.location {
    justify-self: end;
    padding: 3.2rem 3.2rem 0;

    display: flex;
    align-items: center;
    gap: .4rem;
}

.location p {
    font-size: 1.4rem;
    color: #fff;
}

.temp {
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: .4rem;
}

.temp .number {
    text-align: center;
    font-size: 8.8rem;
    color: #fff;

    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.temp .number .maxmin {
    font-size: 2rem;
  }

.temp .maxmin span {
    color: #c2bff4;
}

.celsius {
    font-size: 2.4rem;
    color: #dad8f7;
    margin-top: 1.5rem;
}

.statistics {
    padding: 1.2rem;
    display: flex;
    gap: .8rem;
}

.items {
    flex: 1;

    padding: 1.2rem 1rem;
    background: rgba(102, 96, 200, 0.6);
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.items .info {
    color: #e7e6fb;
    font-size: 1.5rem;
}

.data {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}


/* air quality */

.air-quality {
    font-weight: 700;
    text-align: center;
    display: block;
    color: #e7e6fb;
}

 .title {
    font-size: 2rem;
    color: #dad8f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    margin-top: 3.2rem;
}

p .title {
    font-size: 2.5rem;
}

.air-quality .quality {
    font-size: 1.8rem;
    color: #87ebdc;
}

.air-quality .info {
    display: flex;
    align-items: center;
justify-content: center;
    font-size: 4rem;
    color: #87ebdc;
    margin-top: 0;
}

/* sun time */

.sun-chart-wrapper {
    height: 11rem;
    margin-top: 4rem;
}

.sun-chart {
    --pos-x: 50;
    margin: auto;
    position: relative;
    width: 21.6rem;
    height: 21.6rem;
}

.sun-chart::before {
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #f6c833;
    border-radius: 50%;

    top: 50%;
    left: 50%;
    margin: -0.6rem;

    transform: rotate(calc(1deg * (((100 - var(--pos-x)) / -100) * 180))) translate(10.6rem);
}

.chart {
    width: 21.6rem;
    height: 10.8rem;
    overflow: hidden;
  }

.chart::before {
    content: '';
    width: 21rem;
    height: 21rem;
    display: block;
    border-radius: 50%;

    background: linear-gradient(180deg,
            rgba(251, 219, 96, 0.2) 0%,
            rgba(251, 219, 96, 0) 101.89%);

    --mask: linear-gradient(0deg, white 50%, transparent 0%);
    mask: var(--mask);
    -webkit-mask: var(--mask);

    rotate: calc(1.825deg * var(--pos-x));
}

.chart img {
    position: absolute;
    top: 0;
    left: -1%;
}

#time-now {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: white;
    margin: 1rem auto 0;
    max-width: 27.6rem;
    padding: 0 1.6rem 1.6rem;
}

@media (min-width: 1024px) {

    main {
        grid-template-columns: 48rem 27.7rem 27.7rem;
        grid-template-rows: 24.4rem 21.2rem;
    }
}

@media (max-width: 1024px) {

    body {
        height: 100%;
    }
}