@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --color-primary: #fff;
  --bg-color: #d7d4d4;
  --color-secundary: #110216;
}

body {
  background: var(--color-primary);
  font-family: 'Open sans', sans-serif;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  display: grid;
}

.dark-mode {
 display: flex;
 gap: 8px;
 margin-bottom: 10px;
}

.dark-mode input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.dark-mode label {
  cursor: pointer;
  color: transparent;
  background: grey;
  border-radius: 100px;
  position: relative;
}

.dark-mode label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

.dark-mode input:checked + label {
  background-color: #110216;
}

.dark-mode input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.dark-mode label:active:after {
  width: 45px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h2, h3, td{
  color: var(--color-secundary);
}

table {
  border-collapse: collapse;
  margin: 20px 0;
}

table th {
  background-color: #110216;
  padding: 12px 0;
  color: #fff;
}

table tr {
  border-bottom: 1px solid #110216;
}

table td {
padding: 8px;
}

form {
  display: flex;
  gap: 10px;
  margin: 20px 0 10px;
}

form input, form label, form button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

form input {
  font-size: 16px;
  border: none;
  padding: 10px;
  height: 40px;
}

form input:focus {
  outline: 1px solid #110216;
  border-radius: 5px;
}

form button {
  border: none;
  background: #110216;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #200529;
}

.sucess {
    background-color: rgb(98, 241, 98);
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}

.fail {
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(247, 107, 107);
    border-radius: 5px;
}

@media (max-width: 426px) {
  .container {
    width: 400px;
  }

  form {
    display: block;
  }
}